@{
    ViewData["Title"] = "il mio primo blog!!!";
}

<h1>Ciao a @ViewData["Message"]</h1>
<h2>Ciao a @ViewData["NumTimes"]</h2>
@for(int i=0; i< (int)ViewData["NumTimes"]; i++)
{
    <h1>Ciao a @ViewData["Message"]</h1>

    
}
<img name="fondo-pag-speciali.jpg"/>


